<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <style>
      @font-face {
        font-family: 'Tanker';
        src: url('https://cdn.shopify.com/s/files/1/0602/5075/1185/files/Tanker-Regular.woff2?v=1733664571') format('woff2')
        , url('https://cdn.shopify.com/s/files/1/0602/5075/1185/files/Tanker-Regular.woff?v=1733664571') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.18/dist/lenis.css">
    <link rel="stylesheet" href="{{ 'owl.carousel.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'owl.theme.default.min.css' | asset_url }}">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
  </script>
  <script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js" defer></script>
  <script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}
  </head>
  <body>
    <!-- Announcement Bar Starts -->
    {% section 'announcement' %}
    <!-- Announcement Bar Ends -->
    {% section 'header' %}
    <main role="main" data-scroll-container id="scroll-container">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

    <div class="sideCart">
      {% section 'my-ajax-cart' %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        // Add a delay to ensure everything is loaded
        setTimeout(() => {
          const lenis = new Lenis({
            duration: 1.2,
            easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
          });

          function raf(time) {
            // Check if body has 'modal-backdrop' class
            if (!document.body.classList.contains('backdrop')) {
              lenis.raf(time);
            }
            else{
              lenis.raf(time);
            }
            requestAnimationFrame(raf);
          }
          requestAnimationFrame(raf);

          const header = document.querySelector('header'); // Select your header element

          lenis.on('scroll', ({ scroll, limit }) => {
              const scrollPercentage = (scroll / limit) * 100; // Calculate scroll percentage

              if (scrollPercentage > 2) {
                header.classList.add('active'); // Add 'active' class after scrolling 20%
              } else {
                header.classList.remove('active'); // Remove 'active' class if less than 20%
              }
          });
          
        });
      });

      $(document).ready(function () {
          $(".cart-open").click(function () {
              $("#shopify-section-my-ajax-cart").addClass("active"), $("body").addClass("js-show-ajax-cart")
          }), $(".cart-close").click(function () {
              $("#shopify-section-my-ajax-cart").removeClass("active"), $("body").removeClass("js-show-ajax-cart")
          })
      });
    </script>

    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v2.1.1.js" | asset_url }}';
    </script>


  </body>
</html>