<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="ft-in">
                <div class="fcolm-first">
                    <div class="footer-logo">
                        <a href="">
                            <img src="{{ section.settings.footer_logo | master }}" alt="{{ section.settings.footer_logo_alt }}">
                        </a>
                    </div>
                    <div class="footer-brand-desc">
                        <p>{{ section.settings.footer_brand_desc }}</p>
                    </div>
                    <div class="footer-email">
                        <p class="label">{{ section.settings.footer_email_label }}</p>
                        <p class="data"><a href="mailto:{{ section.settings.footer_email }}">{{ section.settings.footer_email }}</a></p>
                    </div>
                </div>
                <div class="fcolm-sec">
                    <div class="footer-nav">
                        <div class="fnav-item">
                            <p class="label">shop</p>
                            <div class="footernav-in">
                                <ul>
                                    {% for link in linklists[section.settings.menu_1].links %}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="fnav-item">
                            <p class="label">about</p>
                            <div class="footernav-in">
                                <ul>
                                    {% for link in linklists[section.settings.menu_2].links %}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="fnav-item">
                            <p class="label">help</p>
                            <div class="footernav-in">
                                <ul>
                                    {% for link in linklists[section.settings.menu_3].links %}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fcolm-third">
                    <div class="fcolt-in">
                        <div class="subscribe">
                            <h5>{{ section.settings.sign-in-head }}</h5>
                            <p>{{ section.settings.pre2-subhead }}</p>
                            {% form 'customer'
                                , id: 'footer-newsletter-form'
                                , class: 'footer-newsletter-form' %}
                                <div class="newsletter-subs-wrap">
                                <input
                                    type="email"
                                    name="contact[email]"
                                    id="footer-newsletter-email"
                                    placeholder="Enter Your Email"
                                    aria-label="Email address"
                                    required>
                                <button
                                    type="submit"
                                    class="footer-newsletter-button lumi-filled-cta white"
                                    name="subscribe">
                                    <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.1875 4.95264L12.3074 4.95264" stroke="#343434" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8.80762 1.45264L12.3076 4.95264L8.80762 8.45264" stroke="#343434" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                </div>

                                {% if form.posted_successfully? %}
                                <script>
                                    window.location.href = "/pages/thank-you";
                                </script>
                                {% endif %}

                                {% if form.errors %}
                                <div class="form-errors">
                                    {{ form.errors | default_errors }}
                                </div>
                                {% endif %}
                            {% endform %}
                        </div>
                        <div class="footer-social">
                            <div class="fsocial-in">
                                {% for block in section.blocks %}
                                <div class="fs-item">
                                    <a href="{{ block.settings.social_link }}" target="_blank" rel="noopener noreferrer">
                                        <img src="{{ block.settings.social_image | image_url }}" alt="{{ block.settings.social_alt_text }}">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="fb-in">
                <div class="fbin-left">
                    <p> <span><img src="https://cdn.shopify.com/s/files/1/0602/5075/1185/files/Group_1041.svg?v=1734242951" alt=""></span>{{ section.settings.reserved_text }}</p>
                </div>
                <div class="fbin-right">
                    <p>Designed by <a href="">StudioTwo42</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% schema %}
{
    "name": "Footer Navigation",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Footer Logo"
      },
      {
        "type": "text",
        "id": "footer_logo_alt",
        "label": "Logo Alt Text",
        "default": "HeyYouPups Logo"
      },
      {
        "type": "textarea",
        "id": "footer_brand_desc",
        "label": "Footer Brand Description",
        "default": "HeyYouPups is THE brand of new generation pet accessories. With us, it's style and solidity every day!"
      },
      {
        "type": "text",
        "id": "footer_email_label",
        "label": "Email Label",
        "default": "email"
      },
      {
        "type": "text",
        "id": "footer_email",
        "label": "Email Address",
        "default": "info@heyyoupups.com"
      },
      {
        "type": "link_list",
        "id": "menu_1",
        "label": "Footer Menu 1"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "label": "Footer Menu 2"
      },
      {
        "type": "link_list",
        "id": "menu_3",
        "label": "Footer Menu 3"
      },
      {
        "type": "text",
        "id": "sign-in-head",
        "label": "Sign Up Heading",
        "default": "Sign Up and Save!"
      }, 
      {
        "type": "text",
        "id": "pre2-subhead",
        "label": "Pre Footer Right Sub-Heading",
        "default": "Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals."
      },
      {
        "type": "text",
        "id": "reserved_text",
        "label": "Reserved Text",
        "default": "HeyYouPups. All rights reserved."
      },
    ],
    "blocks": [
        {
        "type": "social_link",
        "name": "Social Link",
        "settings": [
            {
            "type": "url",
            "id": "social_link",
            "label": "Social Media URL"
            },
            {
            "type": "image_picker",
            "id": "social_image",
            "label": "Social Media Icon"
            },
            {
            "type": "text",
            "id": "social_alt_text",
            "label": "Alt Text"
            }
        ]
        }
    ],
    "presets": [
      {
        "name": "Footer Navigation",
        "category": "Footer"
      },
      {
        "name": "Footer Social Links",
        "category": "Footer"
      }
    ]
  }
  {% endschema %}