<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="ft-in">
                <div class="fcolm-first">
                    <div class="footer-logo">
                        <a href="">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5075/1185/files/hey-you-pups-logo.png?v=1733850931" alt="">
                        </a>
                    </div>
                    <div class="footer-brand-desc">
                        <p>HeyYouPups is THE brand of new generation pet accessories. With us, it's style and solidity every day! </p>
                    </div>
                    <div class="footer-email">
                        <p class="label">email</p>
                        <p class="data"><a href="mailto:info@heyyoupups.com">info@heyyoupups.com</a></p>
                    </div>
                </div>
                <div class="fcolm-sec">
                    <div class="footer-nav">
                        <div class="fnav-item">
                            <p class="label">shop</p>
                            <div class="footernav-in">
                                <ul>
                                    {% for link in linklists[section.settings.menu_1].links %}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="fnav-item">
                            <p class="label">about</p>
                            <div class="footernav-in">
                                <ul>
                                    {% for link in linklists[section.settings.menu_2].links %}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="fnav-item">
                            <p class="label">help</p>
                            <div class="footernav-in">
                                <ul>
                                    {% for link in linklists[section.settings.menu_3].links %}
                                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fcolm-third">
                    <div class="fcolt-in">
                        <div class="subscribe">
                            <h5>Sign Up and Save!</h5>
                            <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>
                        </div>
                        <div class="footer-social">
                            <div class="fsocial-in">
                                <div class="fs-item">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="fs-item">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="fs-item">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="fb-in">
                <div class="fbin-left">
                    <p> <span><img src="https://cdn.shopify.com/s/files/1/0602/5075/1185/files/Group_1041.svg?v=1734242951" alt=""></span>HeyYouPups. All rights reserved.</p>
                </div>
                <div class="fbin-right">
                    <p>Designed by <a href="">StudioTwo42</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% schema %}
{
    "name": "Footer Navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_1",
        "label": "Footer Menu 1"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "label": "Footer Menu 2"
      },
      {
        "type": "link_list",
        "id": "menu_3",
        "label": "Footer Menu 3"
      }
    ],
    "presets": [
      {
        "name": "Footer Navigation",
        "category": "Footer"
      }
    ]
  }
  {% endschema %}