<header>
  <div class="container-fluid">
    <div class="header-in">
      <div class="header-left">
        <div class="header-logo">
          <a href="{{ shop.url }}">
            <img src="https://cdn.shopify.com/s/files/1/0602/5075/1185/files/hey-you-pups-logo.png?v=1733850931" alt="">
          </a>
        </div>
        <div class="header-menu">
          <div class="hm-in">
            <div class="nav-links">
              <ul>
                {% assign main_menu_linklist = linklists[section.settings.menu-left].links %}
                {% for link in main_menu_linklist %}
                  {% if link.links != blank %}
                    <li class="dropdown-link">
                      <a href="javascript:void(0)">{{ link.title }}</a>
                      {% render 'chevron' %}
                    </li>
                  {% else %}
                    <li>
                      <a class="fade-animate" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="hr-in">
          <div class="hm-in">
            <div class="nav-links">
              <ul>
                {% assign main_menu_linklist = linklists[section.settings.menu-right].links %}
                {% for link in main_menu_linklist %}
                  {% if link.links != blank %}
                    <li class="dropdown-link">
                      <a href="javascript:void(0)">{{ link.title }}</a>
                      {% render 'chevron' %}
                    </li>
                  {% else %}
                    <li>
                      <a class="fade-animate" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      },
      {
        "type": "link_list",
        "id": "menu-left",
        "label": "Left Navigation Menu",
        "default": "left-menu",
      },
      {
        "type": "link_list",
        "id": "menu-right",
        "label": "Right Navigation Menu",
        "default": "right-menu",
      }
    ]
  }
{% endschema %}
