<header class="header">
  <div class="container-fluid">
    <div class="header-in">
      <div class="header-left">
        <div class="header-logo">
          <a href="{{ shop.url }}">
            <img src="{{ section.settings.select_logo | img_url: 'master' }}" alt="Logo">
          </a>
        </div>
        <div class="hamburger">
          {% render 'hamburger' %}
          {% render 'ham-cross' %}
        </div>
        <div class="header-menu">
          <div class="hm-in">
            <div class="nav-links">
              <ul>
                {% assign main_menu_linklist = linklists[section.settings.menu-left].links %}
                {% for link in main_menu_linklist %}
                  {% if link.links != blank %}
                  {% if link.title == "Shop" %}
                    <!-- Shop Dropdown -->
                    <li class="dropdown-link featured-collections">
                      <a href="javascript:void(0)" class="nav-dd">{{ link.title }}</a>
                      {% render 'chevron' %}
                      <div class="dd-con">
                        <div class="dd-con-wrap">
                          {% for childlink in link.links %}
                            <div class="dd-url">
                              <a href="{{ childlink.url }}">
                                <div class="dd-title">{{ childlink.title }}</div>
                                <div class="dd-icon">
                                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.22168 12.4819C2.8481 12.4819 0.113281 9.74711 0.113281 6.37354C0.113281 2.99996 2.8481 0.265137 6.22168 0.265137C9.59526 0.265137 12.3301 2.99996 12.3301 6.37354C12.3301 9.74711 9.59526 12.4819 6.22168 12.4819Z" fill="#FCDB00"/>
                                    <path d="M6.2207 3.92993L8.66406 6.37329L6.2207 8.81665" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.77734 6.37354H8.66406" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>                                    
                                </div>
                              </a>
                            </div>
                          {% endfor %}
                        </div>
                        <div class="dd-img pos-rel">
                          {% for collection_handle in section.settings.shop_collections %}
                            {% assign collection = collections[collection_handle] %}
                            {% if collection and collection.image %}
                            <div class="collection-item">
                              <a href="{{ collection.url }}">
                                <div class="colitem-image">
                                  <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
                                </div>
                                <div class="collection-title">{{ collection.title }}</div>
                              </a>
                            </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </li>
                  {% else %}
                    <!-- Other Dropdown -->
                    <li class="dropdown-link custom-collections">
                      <a href="javascript:void(0)" class="nav-dd">{{ link.title }}</a>
                      {% render 'chevron' %}
                      <div class="dd-con">
                        <div class="dd-img custom-design">
                          {% for collection_handle in section.settings.selected_collections %}
                            {% assign collection = collections[collection_handle] %}
                            {% if collection and collection.image %}
                            <div class="custom-collection-item">
                              <a href="{{ collection.url }}">
                                <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
                                <div class="custom-collection-title">{{ collection.title }}</div>
                              </a>
                            </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </li>
                  {% endif %}
                  {% else %}
                    <!-- Simple Link -->
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="hr-in">
          <div class="hm-in">
            <div class="nav-links">
              <ul>
                <!-- First Dropdown -->
                <li class="dropdown-link">
                  <a href="javascript:void(0)" class="nav-dd">{{ section.settings.dropdown_title }}</a>
                  {% render 'chevron' %}
                  <div class="dd-con">
                    <div class="dd-con-wrap">
                      {% for block in section.blocks %}
                        {% if block.type == "dropdown_child" %}
                          <div class="dd-url">
                            <a href="{{ block.settings.child_link_url }}">
                              <div class="dd-title">{{ block.settings.child_link_title }}</div>
                            </a>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </li>

                <!-- Simple Links -->
                {% for block in section.blocks %}
                  {% if block.type == "simple_link" %}
                    <li>
                      <a href="{{ block.settings.link_url }}">{{ block.settings.link_title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="header-other">
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a href="{{ routes.account_url }}" class="cust-login nav-acc-mob">{% render 'account-icon' %}</a>
              {% else %}
                <a href="{{ routes.account_login_url }}" class="cust-login nav-acc-mob">{% render 'account-icon' %}</a>
              {% endif %}
            {% endif %}
            <a href="#!" class="cart-open" data-ajax-cart-section>{% render 'cart-icon' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<script>
  // Select all .nav-dd-con elements
  const navDdCons = document.querySelectorAll('.dropdown-link');

  navDdCons.forEach(navDdCon => {
  const navDd = navDdCon.querySelector('.nav-dd');
  const ddCon = navDdCon.querySelector('.dd-con');

  // Add 'active' class when entering .nav-dd
  navDd.addEventListener('mouseenter', () => {
    ddCon.classList.add('active');
    navDd.classList.add('active');
  });

  // Keep 'active' class when entering .dd-con
  ddCon.addEventListener('mouseenter', () => {
    ddCon.classList.add('active');
    navDd.classList.add('active');
  });

  // Remove 'active' class only when leaving .nav-dd-con
  navDdCon.addEventListener('mouseleave', () => {
    ddCon.classList.remove('active');
    navDd.classList.remove('active');
  });
  });

  $(document).ready(function(){
    $('.hamburger').click(function(){
      $('.nav-links').toggleClass('active');
      $(this).toggleClass('active');
    })
  });

</script>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      },
      {
        "type": "image_picker",
        "id": "select_logo",
        "label": "Change Logo"
      },
      {
        "type": "link_list",
        "id": "menu-left",
        "label": "Left Navigation Menu"
      },
      {
        "type": "text",
        "id": "dropdown_title",
        "label": "Dropdown Title",
        "default": "About"
      },
      {
        "type": "collection_list",
        "id": "selected_collections",
        "label": "Select Collections for Collection Dropdown",
        "limit": 4
      },
      {
        "type": "collection_list",
        "id": "shop_collections",
        "label": "Select Collections for Shop Dropdown",
        "limit": 2
      }
    ],
    "blocks": [
    {
      "type": "dropdown_child",
      "name": "Dropdown Child Item",
      "settings": [
        {
          "type": "text",
          "id": "child_link_title",
          "label": "Child Link Title",
          "default": "New Arrivals"
        },
        {
          "type": "url",
          "id": "child_link_url",
          "label": "Child Link URL"
        }
      ]
    },
    {
      "type": "simple_link",
      "name": "Simple Link",
      "settings": [
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title",
          "default": "Contact Us"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  }
{% endschema %}
