<section class="padding">
    <div class="lr-sec">
        <div class="lrsec left">
            <div class="lr-image">
                <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="Left Image">
            </div>
            <div class="lr-text">
                <div class="lrtext-heading">
                    <h3>{{ section.settings.left_heading }} <span>{{ section.settings.left_span }}</span></h3>
                </div>
                <div class="lrtext-para">
                    <p>{{ section.settings.left_paragraph }}</p>
                </div>
            </div>
        </div>
        <div class="lrsec right">
            <div class="lr-image">
                <img src="{{ section.settings.right_image | img_url: 'master' }}" alt="Right Image">
            </div>
            <div class="lr-text">
                <div class="lrtext-heading">
                    <h3>{{ section.settings.right_heading }} <span>{{ section.settings.right_span }}</span></h3>
                </div>
                <div class="lrtext-para">
                    <p>{{ section.settings.right_paragraph }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Left-Right Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "left_heading",
        "label": "Left Heading",
        "default": "Boring isn’t in our DNA"
      },
      {
        "type": "text",
        "id": "left_span",
        "label": "Left Highlighted Word",
        "default": "DNA"
      },
      {
        "type": "textarea",
        "id": "left_paragraph",
        "label": "Left Paragraph",
        "default": "Volutpat aliquam ut feugiat enim vel. Sed sed mauris interdum consequat in elit et. Id in arcu vestibulum enim ornare a suscipit aenean. Fringilla id egestas condimentum adipiscing mauris arcu enim orci."
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      },
      {
        "type": "text",
        "id": "right_heading",
        "label": "Right Heading",
        "default": "A personality for every Pup!"
      },
      {
        "type": "text",
        "id": "right_span",
        "label": "Right Highlighted Word",
        "default": "Pup!"
      },
      {
        "type": "textarea",
        "id": "right_paragraph",
        "label": "Right Paragraph",
        "default": "Volutpat aliquam ut feugiat enim vel. Sed sed mauris interdum consequat in elit et. Id in arcu vestibulum enim ornare a suscipit aenean. Fringilla id egestas condimentum adipiscing mauris arcu enim orci."
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Left-Right Section",
        "category": "Custom Sections"
      }
    ]
}
{% endschema %}
  