<section class="size-guide">
    <div class="container">
        <div class="sguide-in">
            <div class="heading center">
                <h3>{{ section.settings.heading }}</h3>
            </div>
            <div class="sguide-images">
                <div class="sgimage-item">
                    <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="">
                </div>
                <div class="sgimage-item">
                    <img src="{{ section.settings.right_image | img_url: 'master' }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-to-measure">
    <div class="container">
        <div class="htm-in">
            <div class="heading center">
                <h3>{{ section.settings.html_heading }}</h3>
            </div>
            <div class="how-to-measure">
                <div class="htm-tag">{{ section.settings.htm_heading }}</div>
                <p>{{ section.settings.htm_para }}</p>
            </div>
            <div class="htm-image-wrap">
                {% for block in section.blocks %}
                <div class="htm-item">
                    <div class="htm-image">
                        <img src="{{ block.settings.item_image | img_url: 'master' }}" alt="">
                    </div>
                    <div class="htm-text">
                        <div class="htm-head">{{ block.settings.item_heading }}</div>
                        <p>{{ block.settings.item_para }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Sizeguide",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Size Guide"
    }
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Size Guide Left Image"
    },
    {
        "type": "image_picker",
        "id": "right_image",
        "label": "Size Guide Right Image"
    },
    {
        "type": "text",
        "id": "html_heading",
        "label": "How to measure heading",
        "default": "How to Measure"
    },
    {
        "type": "text",
        "id": "htm_heading",
        "label": "How to measure heading",
        "default": "Helpful Tip!"
    },
    {
        "type": "text",
        "id": "htm_para",
        "label": "How to measure heading",
        "default": "How to Measure"
    }
  ],
  "blocks": [
    {
      "type": "htm_item",
      "name": "How To Measure Grid Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Grid Item Image"
        },
        {
          "type": "text",
          "id": "item_heading",
          "label": "How To Measure Item Heading"
        },
        {
            "type": "text",
            "id": "item_para",
            "label": "How To Measure Item Paragraph"
        }
      ]
    }
  ],
  "presets": [
  ]
}
{% endschema %}