{% comment %} {% assign selected_variant = product.selected_or_first_available_variant %} {% endcomment %}
<section class="product-inner">
  <div class="container-fluid">
    <div class="pi-wrapper">
      <div class="pi-breadcrumb">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">{{ product.category }}</a></li>
            <li><a href="">{{ product.title }}</a></li>
        </ul>
      </div>
      <div class="pi-product">
        <div class="pro-img" >
          <div class="pro-featured-wrapper">
            {% for media in product.media %}
              <div class="product-featured-image">
                <img
                  src="{{ media | img_url: 'large' }}"
                  alt="{{ media.preview_image.alt }}"
                  id="image{{ forloop.index }}">
              </div>
            {% endfor %}
          </div>
        </div>
        
        
        <div class="pro-description">
          
          <ajax-cart-product-form>
            {% form 'product'
              , product
              , id: 'product-form'
              , novalidate: 'novalidate' %}
              <input
                type="hidden"
                name="id"
                value="{{ selected_variant.id }}">

              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'title' %}
                    <div class="title">
                      <h1>{{ product.title }}</h1>
                    </div>

                  {% when 'description' %}
                    <div class="pro-desc">
                      <p>{{ product.description }}</p>
                    </div>

                    <div class="variant-selector">
                      
                      {% unless product.has_only_default_variant %}
                        <div class="varient-size">
                          <div class="varient-heading">
                            <p>Select Size</p>
                          </div>
                          <div class="sizeChart">
                            <a href="">Size Chart</a>
                          </div>
                        </div>
                        <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                          <ul>
                            {% for variant in product.variants %}
                              <li
                                class="variant-option"
                                data-variant-id="{{ variant.id }}"
                                data-price="{{ variant.price | money }}"
                                data-discounted-price="{{ variant.metafields.custom.discounted_price }}"
                                data-available="{{ variant.available }}">
                                <span class="variant-title">{{ variant.title }}</span>
                                {% if variant.metafields.custom.discounted_price %}
                                  <span class="discounted-price">(Save {{ variant.metafields.custom.discounted_price | money }})</span>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                          <script type="application/json">{{ product.variants | json }}
                          </script>
                        </variant-selector>
                      {% endunless %}
                    </div>

                    <!-- Variant Information Display -->
                    <div id="variant-info">
                      <p id="variant-price"></p>
                      <p id="variant-discounted-price"></p>
                    </div>

                    <div class="quantity">
                      <div class="minus">
                        -
                      </div>
                      <div class="quan">
                        <input
                          type="number"
                          name="updates[]"
                          class="update-quantity"
                          id="updates_{{ forloop.index }}"
                          value="{{ item.quantity }}"
                          min=1>
                      </div>
                      <div class="plus">
                        +
                      </div>
                    </div>

                  {% when 'checkout_buttons' %}
                    <!-- Add to Cart Button -->
                    <div class="submit product-submit">

                      <input
                        type="hidden"
                        name="id"
                        id="product-variant-id"
                        value="{{ product.variants.first.id }}">
                      {% if product.variants.first.available %}
                        <button
                          type="submit"
                          name="add"
                          class="custom-button black"
                          id="add-to-cart-button"
                          data-available="{{ product.variants.first.available }}">
                          Add To Cart
                        </button>
                      {% else %}
                        <button
                          type="submit"
                          name="add"
                          disabled
                          class="custom-button black"
                          data-available="{{ product.variants.first.available }}">
                          <span id="add-to-cart-text">Sold Out</span>
                        </button>
                      {% endif %}
                      <div data-ajax-cart-errors="form"></div>
                    </div>
                {% else %}
                  {% endcase %}
                {% endfor %}
              {% endform %}
            </ajax-cart-product-form>
        </div>
      </div>
    </div>
  </section>

  

 <script>
    $(document).ready(function(){
      $('.join-161').click(function(){
        $('.join-club').addClass('active');
      });
      $('.jc-close').click(function(){
        $('.join-club').removeClass('active');
      });
    });
  </script>

  <script defer>
    class VariantSelector extends HTMLElement{
        constructor(){
            super();
            this.addEventListener("change", this.onVariantChange);
        }
    
        onVariantChange(){
            this.getSelectedOptions();
            this.getSelectedVariant();
            if(this.currentVariant){
                this.updateURL();
                this.updateFormID();
                this.updatePrice();
            }
        }
    
        getSelectedOptions(){
            this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
        }
    
        getVariantJSON(){
            this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
            return this.variantData;
        }
    
        getSelectedVariant(){
            this.currentVariant = this.getVariantJSON().find(
                (variant)=>{
                    const findings = !variant.options.map(
                        (option, index) => {
                            return this.options[index] === option;
                        }
                    ).includes(false);
    
                    if(findings) return variant;
                }
            );
    
        }
    
        updateURL(){
            if(!this.currentVariant) return;
            window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
        }
    
        updateFormID(){
            const form_input = document.querySelector("#product-form input[name='id']");
            if (form_input && this.currentVariant) {
                form_input.value = this.currentVariant.id;
            }
        }
    
        updatePrice(){
            fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
            .then((response) => response.text())
            .then((responseText)=>{
                {% comment %} const id = `price-${this.datatset.section}`; {% endcomment %}
                const html = new DOMParser().parseFromString(responseText, 'text/html');
    
                const oldPrice=document.getElementById('price-{{ section.id }}');
                const newPrice=html.getElementById('price-{{ section.id }}');
    
                if(oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
            });
        }
    }
    customElements.define("variant-selector", VariantSelector);
  </script>

  <script>
      $(document).ready(function () {
    $('.pa-head').click(function () {
      var parentItem = $(this).parent('.pa-item');
      var answer = $(this).next('.pa-ans');

      if (parentItem.hasClass('active') && answer.is(':visible')) {
        // If the parent is already active and the answer is visible, remove active and slide up
        parentItem.removeClass('active');
        answer.slideUp();
      } else {
        // Otherwise, remove active from all, add it to the clicked one and slide up/down accordingly
        $('.pa-item').removeClass('active');
        parentItem.addClass('active');
        $('.pa-ans').slideUp();
        answer.slideDown();
      }
    });
      });

      // Select all anchor tags with the class 'smooth-scroll'
      document.querySelectorAll('.smooth-scroll').forEach((anchor) => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault(); // Prevent default anchor click behavior

      // Get the href attribute (which corresponds to the ID) and use it to find the target element
      const targetId = this.getAttribute('href');
      const targetElement = document.querySelector(targetId);

      // If the target element exists, scroll to it smoothly
      if (targetElement) {
        const offset = 50; // Adjust this value to set your desired offset
        const targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset - offset;

        // Scroll to the calculated position
        window.scrollTo({
          top: targetPosition,
          behavior: 'smooth', // Smooth scrolling
        });
      }
    });
      });
  </script>

  <script>
      $(document).ready(function () {
    $('.size-guide-toggle').click(function () {
      $('.ring-guide-modal').addClass('active');
      $('body').css({ overflow: 'hidden' }); // Corrected 'hidden' to be in quotes
    });

    // Optional: Add a close functionality for the modal
    $('.ring-guide-modal .rgm-cross').click(function () {
      $('.ring-guide-modal').removeClass('active');
      $('body').css({ overflow: 'auto' }); // Restore body scroll
    });
      });
  </script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
    var productForm = document.getElementById('product-form');
    if (productForm) {
      productForm.addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(productForm);
        
        fetch('/cart/add.js', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          // Optionally, update the cart count or open the cart drawer here
        })
        .catch(error => {
          console.error('Error adding product to cart:', error);
        });
      });
    }
      });
  </script>

     <script type="application/ld+json">
  {
  "@context": "https://schema.org/",
             "@type": "Product",
             "name": "{{ product.title | escape }}",
  {% if product.featured_image != nil %}
    "image": [
    "https:{{ product.featured_image | img_url: '960x960' }}",
    "https:{{ product.featured_image | img_url: '960x720' }}",
    "https:{{ product.featured_image | img_url: '960x540' }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  "brand": {
               "@type": "Brand",
               "name": "{{ product.vendor | escape }}"
  },
             "offers" : {
               "@type" : "Offer",
               "availability" : "https://schema.org/{% if product.available %}InStock{% else %}SoldOut{% endif %}",
  "price" : "{{ product.price | divided_by: 100.0 }}",
  "priceCurrency": "{{ shop.currency }}",
  "url" : "{{ shop.url }}{{ routes.root_url }}{{ product.url }}" 
  }
       }

  </script>

  {% schema %}
    {
      "name": "Product",
      "settings": [
        {
          "type": "richtext",
          "id": "shipping",
          "label": "Shipping text"
        }, {
          "type": "richtext",
          "id": "return",
          "label": "Return text"
        }
      ],
      "blocks": [
        {
          "type": "title",
          "name": "Title",
          "limit": 1
        },
        {
          "type": "price",
          "name": "Price",
          "limit": 1
        },
        {
          "type": "variant_selector",
          "name": "Variant Selector",
          "limit": 1
        },
        {
          "type": "quantity",
          "name": "Quantity",
          "limit": 1
        }, {
          "type": "description",
          "name": "Description",
          "limit": 1
        },{
          "type": "pincode",
          "name": "pincode",
          "limit": 1
        }, {
          "type": "checkout_buttons",
          "name": "Checkout Buttons",
          "limit": 1,
          "settings": [
            {
              "type": "page",
              "id": "select-page",
              "label": "Select Page"
            }
          ]
        }, {
          "type": "accordions",
          "name": "Accordions",
          "limit": 1
        }, {
          "type": "purchase_plan",
          "name": "Purchase Plan",
          "limit": 1
        }, {
          "type": "@app"
        }, {
          "type": "ring-guide",
          "name": "Ring Guide",
          "settings": [
            {
              "type": "text",
              "id": "group-item1",
              "label": "Group Item 1"
            },
            {
              "type": "text",
              "id": "group-item2",
              "label": "Group Item 2"
            },
            {
              "type": "text",
              "id": "group-item3",
              "label": "Group Item 3"
            },
            {
              "type": "text",
              "id": "group-item4",
              "label": "Group Item 4"
            }, {
              "type": "text",
              "id": "group-item5",
              "label": "Group Item 5"
            }, {
              "type": "text",
              "id": "group-item6",
              "label": "Group Item 6"
            }, {
              "type": "text",
              "id": "group-item7",
              "label": "Group Item 7"
            }, {
              "type": "text",
              "id": "group-item8",
              "label": "Group Item 8"
            }
          ]
        }, {
          "type": "ring-guide-heading",
          "name": "Ring Guide Heading",
          "limit": 1,
          "settings": [
            {
              "type": "richtext",
              "id": "modal-heading",
              "label": "Modal Heading"
            },
            {
              "type": "text",
              "id": "head1",
              "label": "Heading 1"
            },
            {
              "type": "text",
              "id": "head2",
              "label": "Heading 2"
            },
            {
              "type": "text",
              "id": "head3",
              "label": "Heading 3"
            }, {
              "type": "text",
              "id": "head4",
              "label": "Heading 4"
            }, {
              "type": "text",
              "id": "head5",
              "label": "Heading 5"
            }, {
              "type": "text",
              "id": "head6",
              "label": "Heading 6"
            }, {
              "type": "text",
              "id": "head7",
              "label": "Heading 7"
            }, {
              "type": "text",
              "id": "head8",
              "label": "Heading 8"
            }
          ]
        }
      ]
    }
  {% endschema %}