<section class="login-signup-template">
    <div class="log-form-wrap">
      <div class="container">
        <div class="log-form-con">
          <div class="head">
            <h4 class="big">{{ section.settings.head }}</h4>
            <div class="lumi-desc">
              <p>{{ section.settings['sub-head'] }}</p>
            </div>
          </div>
          <div class="log-form">
            {% form 'reset_customer_password' %}
              {% if form.errors %}
                {{ form.errors | default_errors }}
              {% endif %}
              <div class="form-con-wrap">
                <div class="form-con">
                  <label for="email">New Password<sup>*</sup> </label>
                  <input
                    type="password"
                    name="customer[password]"
                    placeholder="Enter your new password"
                    id="email"
                    required
                    autocomplete="false"
                  >
                </div>
                <div class="form-con">
                  <div class="password-con">
                    <label for="password">confirm New Password<sup>*</sup> </label>
                  </div>
                  <input
                    type="password"
                    name="customer[password_confirmation]"
                    id="password"
                    placeholder="Enter your new password"
                    required
                    autocomplete="off"
                  >
                </div>
              </div>
              <div class="form-con checkbox">
                <input
                  type="checkbox"
                  name="customer[accepts_terms_conditions]"
                  id="accepts_terms_conditions"
                  required
                >
                <label for="accepts_terms_conditions"
                  >I agree to
                  <a href="{{ section.settings.link }}">terms of service</a>
                </label>
              </div>
              <div class="form-con submit-but">
                <button type="submit" class="lumi-filled-cta black cta-full-width">
                  <span class="cta-dot"></span>
                  <div class="cta-text">reset password</div>
                </button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
    <div class="log-img">
      {% if section.settings['bg-img'] != blank %}
        {{
          section.settings['bg-img']
          | image_url: width: 1000
          | image_tag: loading: 'lazy', alt: section.settings['bg-img'].alt
          | default: section.settings.title
        }}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  </section>
  
  <script>
    $(document).ready(function () {
      $('.forgot-password').click(function () {
        $('.forget').addClass('active');
        $('.log-form-con').addClass('hide');
      });
    });
  </script>
  
  {% schema %}
  {
    "name": "Login",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub-head",
        "label": "Sub Heading"
      },
      {
        "type": "image_picker",
        "id": "bg-img",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "T&C"
      },
      {
        "type": "text",
        "id": "fp-head",
        "label": "Forget Password Heading",
        "default": "Forgot Password"
      }
    ]
  }
  {% endschema %}